*.~*
*.res
*.zip
*.doc*
*.stat
*.dproj
*.dproj.*
*.local
*.dsk
*.identcache
*.cmd
*.exe
*.txt
/~backup/
/__history/
/__recovery/
./Generator/__history/
./Generator/__recovery/
./Shared/__history/
./Shared/__recovery/
./Sorter/__history/
./Sorter/__recovery/
./UnitTest/__history/
./UnitTest/__recovery/
